/*========================
GLOBAL
=========================*/


body {
  font-family: 'Gloria Hallelujah', cursive;
}

h1, h2, h3, h4, h5, a, p {
  color: #000;
}


hr {
  margin-left: -20%;
  width: 40%;
}

a.navbar-brand {
  color: orange !important;
}
.nav-link:hover {
  color: orange !important;
}

a.nav-link {
  text-align: center;
}

.d {
  color: green;
  font-family: 'Gloria Hallelujah', cursive;
}

.y{
  color: orange;
  font-family: 'Gloria Hallelujah', cursive;
}

header#main {
  position: relative;
  height: 95vh;
  background-image: url("../img/color-pencils.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.cover-container {
  max-width: 42em;
}

.cover-heading {
  padding-top: 30%;
}

h1.cover-heading{
  color: #000;
  font-size: 400%;
}
.inner p {
  font-size: 150%;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom:  110px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #000;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #000;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}


/* .dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; } */

/*========================
END GLOBAL
=========================*/

#main p {
  font-size: 170%;
}

/* intro */
#intro p {
  line-height: 1.9em;
}

.me a{
  color: orange;
  font-size: 110%;
}

.me a:hover {
  text-decoration: line-through;
  color: green;
}


/* contact */
header #contact{
  height: 100vh;
}

#contact .container {
  padding-top: 15%;
}


.email a {
  color: orange;
  text-decoration: none;
  font-size: 130%;
}

.email a:hover {
  text-decoration:line-through;
  color: green;
}

.coffee {
  color: #795841;
}

#contact p {
  line-height: 1.9em;
  width: 80%;
  margin-left: 30px;
}


/* about */
header #about{
  height: 100vh;
}

#about .container {
  padding-top: 15%;
}

#about p {
  line-height: 1.9em;
}

/* work */
header #work{
  height: 100vh;
}

#work .container {
  padding-top: 15%;
}

#work p {
  line-height: 1.9em;
}


/*========================
FOOTER
=========================*/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
/*========================
END FOOTER
=========================*/

@media only screen and (max-width: 500px) {
  .email a {
    font-size: 100%;
  }
  hr {
    width: 55%;
  }
}

@media only screen and (max-width: 375px) {
  #contact .container {
    padding-top: 30%;
  }

  #about .container {
    padding-top: 30%;
  }

  #work .container {
    padding-top: 30%;
  }

  .email a {
    font-size: 90%;
  }
  hr {
    width: 65%;
  }

}


@media only screen and (max-width: 320px) {
  .email a {
    font-size: 90%;
  }
  hr {
    width: 65%;
  }

  #contact .container p{
    font-size: 105%;
  }

}


@supports (-webkit-overflow-scrolling: touch) {
  header#main {
    position: relative;
    height: 95vh;
    background: url("../img/color-pencils.jpeg") no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
